/*
Author: Daniel Henriquez
Twitter: @dhenriquez
website: http://www.dhenriquez.cl
*/

body {
    background-color: #1e1e1e;
}
textarea{
	display: inline;
	 width: 200px;
    font-size: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    border: none;
    color: #bfbfbf;
    background: #141414;
    outline: none;
    margin: 0;
	border: #2d2d2d solid 5px;
	border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
a{
	height: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: Arial;
	color: #bfbfbf;
}
div.letra{
    height: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 20px;
   /* text-align: center;*/
    font-weight: bold;
    margin-bottom: 30px;
    font-family: Arial;
	color: #bfbfbf;
}


p{
	display: inline;
	width: 298px;
    height: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 20px;
    text-align: center;
    color: #bfbfbf;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: Arial;
}


/*.login*/ form input[type=text], .login form input[type=password] {
    width: 200px;
    font-size: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    border: none;
    color: #bfbfbf;
    background: #141414;
    outline: none;
    margin: 0;
	border: #2d2d2d solid 5px;
	border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}


div.img {
    /*margin: 10%;*/
    padding: 5px;
   /* border: 1px solid #0000ff;*/
   /*height: auto;
    width: auto;*/
    float: left;
    text-align: center;
}	

div.img img {
    display: inline;
    margin: 5px;
   /* border: 1px solid #ffffff;*/
}

/*div.img a:hover img {
    border: 1px solid #4eb2a8;
}*/

div.desc {
  text-align: center;
  font-weight: normal;
 /* width: 120px;
  margin: 5px;*/
}


/*.images {
   background-image: url('images/wd..j');
   height: 70px;
   width: 120px;
}

.images hover {
   background-image: url('images/bb.jpg');
   width: [IMAGE_WIDTH_IN_PIXELS]px;
   height: [IMAGE_HEIGHT_IN_PIXELS]px;
}*/

/*.button {
	float: right;
	/*position: relative;
    left: 1650px;
    width: 240px;
    height: 12px;
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
    border: none;
    border-top: #4eb2a8 1px solid;
    border-bottom: #161616 1px solid;
    background: #349e92;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 -1px #1d7464, 0 1px #7bb8b3;
    font-family: Arial;
}*/
.button {
	position:absolute;
	top: 0;
  right: 0;

   width: 240px;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 0 -1px #1d7464, 0 1px #7bb8b3;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  background: #4eb2a8;
  padding-top: 14px;
  padding-bottom: 14px;
  text-decoration: none;
  text-align: center;
}
.button2 {
   width: 240px;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 0 -1px #1d7464, 0 1px #7bb8b3;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  background: #4eb2a8;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
/*
.login .olvido {
    width: 240px;
    height: auto;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 10px;
    text-align: center;
}

.login .olvido .col {
    width: 50%;
    height: auto;
    //float: left;
}

.login .olvido .col a {
    color: #fff;
    text-decoration: none;
    font: 12px Arial;
}

#crossfade > img { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s; 
}

#crossfade > img:nth-child(2)  { 
    background-image: url(bb.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
#crossfade > img:nth-child(3) { 
    background-image: url(wd.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
#crossfade > img:nth-child(4) { 
    background-image: url(got.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
#crossfade > img:nth-child(5) { 
    background-image: url(mr.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}


@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body { line-height: 1 }

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}*/